.episode__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  padding-block: 40px;
  border-top: 1px solid var(--color-black-15);
}

.episode__number {
  font-size: var(--fs-md2);
  font-weight: var(--fw-semi-bold);
  line-height: 150%;
  color: var(--color-gray-60);
  white-space: nowrap;
}

.episode__still {
  width: 172px;
  height: 118px;
  object-fit: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid var(--color-black-15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.episode__text-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 14px;
}

.episode__heading {
  font-size: var(--fs-xs2);
  font-weight: var(--fw-semi-bold);
  line-height: 150%;
  color: var(--color-white);
  text-overflow: ellipsis;
  overflow: hidden;
}

.episode__text {
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  line-height: 150%;
  color: var(--color-gray-60);
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .episode__container {
    padding: 30px 0px 40px 0px;
    column-gap: 18px;
  }
  .episode__number {
    font-size: var(--fs-sm2);
  }
  .episode__text-container {
    row-gap: 10px;
  }
  .episode__heading {
    font-size: var(--fs-xs);
  }
  .episode__text {
    font-size: var(--fs-2xs);
  }
}

@media only screen and (max-width: 790px) {
  .episode__container {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 18px;
    border-radius: 8px;
    background-color: var(--color-black-08);
  }
  .episode__still {
    width: 100%;
    height: 100%;
  }
  .episode__heading {
    font-size: var(--fs-2xs);
  }
  .episode__text {
    display: none;
  }
}