.movies-wrapper__movies-list {
  width: 100%;
  height: auto;
  background-color: var(--color-black-20);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  overflow-x: scroll;
  padding: 50px;
}