.section-faq__faq {
  width: 100%;
  padding-inline: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
}
.heading-container__faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 100px;
}
.text-container__faq {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 14px;
}
.heading__faq {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  line-height: 150%;
}
.p__faq {
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-gray-60);
  line-height: 150%;
}
.button__faq {
  padding: 18px 24px;
  border: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  color: var(--color-white);
  font-size: var(--fs-xs);
  font-weight: var(--fw-semi-bold);
  line-height: 150%;
  background-color: #2c0ce2;
  text-align: center;
  text-wrap: nowrap;
}

.faq-container__faq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
}
.items-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}