.section-subscription__subscription {
  width: 100%;
  padding-inline: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
}
.heading-container__subscription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 100px;
}
.text-container__subscription {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 14px;
}
.heading__subscription {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  line-height: 150%;
}
.p__subscription {
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-gray-60);
  line-height: 150%;
}
.buttons-container__subscription {
  padding: 10px;
  background-color: var(--color-black-06);
  border: 1px solid var(--color-black-15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.button__subscription:nth-child(1) {
  padding: 14px 24px;
  appearance: none;
  border: none;
  outline: none;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-black-12);
}

.button__subscription:nth-child(2) {
  padding: 14px 24px;
  appearance: none;
  border: none;
  outline: none;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-gray-60);
  background-color: var(--color-black-06);
}

.subscription-container__subscription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}