.question__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 34px;
  border-bottom: 2px solid #2c0ce2;
}

.question__number {
  padding: 20px;
  background-color: var(--color-black-12);
  border: 1px solid var(--color-black-15);
  color: var(--white-color);
  font-size: var(--fs-xs);
  font-weight: var(--fw-semi-bold);
  width: 62px;
  height: 62px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__text-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 20px;
}

.question__heading {
  color: var(--color-white);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
  line-height: 150%;
}

.question__p {
  color: var(--color-gray-60);
  font-size: var(--fs-2xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
}

.question__button-icon {
  outline: none;
  appearance: none;
  padding: 20px;
  background-color: var(--color-black-06);
  border: 1px solid var(--color-black-15);
  cursor: pointer;
  font-size: var(--fs-md2);
  font-weight: var(--fw-regular);
  color: var(--color-white);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  .question__container {
    column-gap: 16px;
    padding: 24px;
  }

  .question__number {
    font-size: var(--fs-2xs);
  }

  .question__text-container {
    row-gap: 14px;
  }

  .question__heading {
    font-size: var(--fs-xs2);
  }

  .question__p {
    font-size: var(--fs-2xs);
  }

  .question__icon {
    font-size: var(--fs-xs2);
  }
}