.actor__actor {
  width: 120px;
  height: 120px;
  position: relative;
}
.actor__photo-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.actor__photo {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1440px) {
  .actor__actor {
    width: 87px;
    height: 87px;
  }
}

@media only screen and (max-width: 1386px) {
  .actor__actor {
    width: 120px;
    height: 120px;
  }
}

@media only screen and (max-width: 680px) {
  .actor__actor {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 390px) {
  .actor__actor {
    width: 70px;
    height: 70px;
  }
}