.review__card {
  width: 100%;
  height: 265px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: var(--color-black-06);
  border: 1px solid var(--color-black-15);
  border-radius: 12px;
}
.review__heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 41px;
}
.review__author-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.review__name {
  font-size: var(--fs-xs2);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-white);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.review__username {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-gray-60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.review__rating-container {
  padding: 6px 10px;
  background-color: var(--color-black-08);
  border: 1px solid var(--color-black-15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 4px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-white);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.review__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-2xs);
  color: #2c0ce2;
}
.review__text {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-gray-60);
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .review__card {
    padding: 30px;
    row-gap: 16px;
    border-radius: 12px;
    height: 223px;
  }
  .review__heading-container {
    column-gap: 40px;
  }
  .review__name {
    font-size: var(--fs-xs);
  }
  .review__username {
    font-size: var(--fs-2xs);
  }
  .review__rating-container {
    font-size: var(--fs-3xs);
  }
  .review__text {
    font-size: var(--fs-2xs);
  }
}

@media only screen and (max-width: 390px) {
  .review__card {
    height: 214px;
  }
  .review__name {
    font-size: var(--fs-2xs);
  }
  .review__username {
    font-size: var(--fs-3xs);
  }
  .review__rating-container {
    font-size: var(--fs-3xs);
  }
  .review__rating {
    font-size: var(--fs-3xs);
  }
  .review__text {
    font-size: var(--fs-3xs);
  }
}