.review__card {
  width: 468px;
  height: 265px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  background-color: var(--color-black-06);
  border: 1px solid var(--color-black-15);
  border-radius: 12px;
}
.review__heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 41px;
}
.review__author-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.review__name {
  font-size: var(--fs-xs2);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-white);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.review__username {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-gray-60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.review__rating {
  padding: 6px 10px;
  background-color: var(--color-black-08);
  border: 1px solid var(--color-black-15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-gray-60);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.review__text {
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  line-height: 150%;
  color: var(--color-gray-60);
  text-overflow: ellipsis;
  overflow: hidden;
}