.home__main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 150px;
}

.home__background-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__categories-section,
.home__devices-section,
.home__faq-section,
.home__subscription-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
  padding-inline: 10%;
}

.home__banner-section {
  width: 100%;
  height: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10%;
}

@media only screen and (max-width: 1440px) {
  .home__main {
    row-gap: 120px;
  }
  
  .home__categories-section,
  .home__devices-section,
  .home__faq-section,
  .home__subscription-section {
    row-gap: 60px;
    padding-inline: 8%;

  }

  .home__banner-section {
    height: 236px;
    padding-inline: 8%;
  } 
}

@media only screen and (max-width: 390px) {
  .home__main {
    row-gap: 100px;
  }

  .home__categories-section,
  .home__devices-section,
  .home__faq-section,
  .home__subscription-section {
    row-gap: 40px;
    padding-inline: 6%;
  }

  .home__banner-section {
    height: 344px;
    padding-inline: 6%;
  } 
}