.main__home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 150px;
}

.image-section__home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container__home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: -64px;
  position: relative;
}

.background-image-container__home {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
}

.background-image-container__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 80px 80px 40px var(--color-black-08);
  pointer-events: none;
}

.image__home {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

.text-image-container__home {
  z-index: 3;
  width: 100%;
  height: 296px;
  padding-inline: 412px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  box-shadow: 0px -80px 80px 40px var(--color-black-08);
  background-color: var(--color-black-08);
}

.text-container__home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 14px;
}

.heading__home {
  text-align: center;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);
  line-height: 150%;
  color: var(--color-white);
}

.text__home {
  text-align: center;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  line-height: 150%;
  color: var(--color-gray-60);
}

.button__home {
  outline: none;
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 18px 24px;
  background-color: #2c0ce2;
  border-radius: 50px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-semi-bold);
  line-height: 150%;
  color: var(--color-white);
}

.section-movies__home {
  width: 100%;
  padding-inline: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 100px;
}

.container-movies__home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.showcase-container__home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 100px;
  width: 100%;
  padding: 50px;
  border: 1px solid var(--color-black-15);
  border-radius: 12px;
}

.section-devices__home {
  width: 100%;
  padding-inline: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 80px;
}

.text-devices-container__home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 14px;
  padding-right: 300px;
}

.h2-devices__home {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  color: var(--color-white);
  line-height: 150%;
}

.p-devices__home {
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-gray-60);
  line-height: 150%;
}

.devices-container__home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}