.movies-and-shows__main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 100px;
  margin-top: 150px;
}

.movies-and-shows__carousel-section {
  padding-inline: 10%;
  width: 100%;
  border-radius: 12px;
}

.movies-and-shows__section {
  padding-inline: 10%;
  width: 100%;
  height: auto;
}

.movies-and-shows__banner-section {
  padding-inline: 10%;
  width: 100%;
  height: 313px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1440px) {
  .movies-and-shows__main {
    row-gap: 100px;
  }

  .movies-and-shows__carousel-section,
  .movies-and-shows__section,
  .movies-and-shows__banner-section {
    padding-inline: 8%;
  }
}

@media only screen and (max-width: 390px) {
  .movies-and-shows__main {
    margin-top: 100px;
    row-gap: 80px;
  }

  .movies-and-shows__carousel-section,
  .movies-and-shows__section,
  .movies-and-shows__banner-section {
    padding-inline: 3%;
  }
}