.loading__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  line-height: 150%;
  color: var(--color-white);
}