.footer__footer {
  width: 100%;
  height: 505px;
  background-color: var(--color-black-06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
  padding: 100px 162px 50px 162px;
  margin-top: 150px;
}

.container__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
}

.subcontainer__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
  width: 241px;
  height: 204px;
}

.heading__footer {
  font-size: var(--fs-xs2);
  font-weight: var(--fw-semi-bold);
  color: var(--color-white);
}

.ul__footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 14px;
}

.li__footer > .item__footer {
  text-decoration: none;
  outline: none;
  appearance: none;
  font-size: var(--fs-xs);
  font-weight: var(--fw-medium);
  color: var(--color-gray-60);
}

.container__footer:nth-child(2) {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid var(--color-gray-60);
}

.text__footer {
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-gray-60);
}

.terms-and-privacy__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-gray-60);
  column-gap: 10px;
}

.terms-and-privacy__footer > .link__footer {
  text-decoration: none;
  outline: none;
  appearance: none;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-gray-60);
}